body, html {
  height: 100%;
}

li {
    list-style: none;
}

.content {
    margin: auto;
    min-height: 100vh;
}

.index-page {
    width: 66.66666666%;
    margin: auto;
}
.page-header-wrapper {
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

.page-header-wrapper h1 {
    text-transform: capitalize;
}

.index-wrapper {
    align-content: center;
    width: 66.6666666%;
    margin: auto;
}

.todo-index-item {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    box-sizing: border-box;
}

.todo-index-item:hover {
    background: #f8f9fa;
    cursor: pointer;
    box-shadow: 1px 1px grey;
}

.info-list {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}

.info-list-item {
    font-size: 14px;
}

.item-title-wrapper {
    display: block;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}

.todo-show {
    width: 66.6666666666%;
    margin: auto;
    padding-top: 40px;
}

.todo-info {
    border: 1px solid lightgrey;
    background: #f8f9fa;
    border-radius: 5px;
    padding: 10px 15px;
}

.user-info {
    padding: 10px;
}

.name-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.user-info-list-wrapper {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}
.personal-info {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

}

.transform {
    text-transform: capitalize;
}

.contact-info-wrapper {
    width: 250px;;
    display: flex;
    justify-content: space-between;
}

.create-todo {
    width: 66.66666666%;
    margin: auto;
    border: 1px solid lightgray;
    margin-top: 50px;
    border-radius: 5px;
    background: #f8f9fa;
}

.create-todo-form {
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.submit-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-wrapper {
    margin-bottom: 20px;
}

.label-title {
    font-size: 18px;
    font-weight: 600px;
}